<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxh.ssm.mapper.EmployeeMapper">
    <!--
       mapper接口和映射文件要保证两个一致；
       1、mapper接口的全类名要和映射文件的namespace一致
       2、mapper接口的方法名要和映射文件中的sql的id保持一致
    -->
    <select id="getEmployeeList" resultType="Employee">
        select *from t_emp
    </select>
    <insert id="addEmployee">
        insert into t_emp values(null,#{empName},#{age},#{sex},#{email})
    </insert>
   <select id="selectById" resultType="Employee">
       select *from t_emp where emp_id=#{empId}
   </select>
    <update id="updateById">
        update t_emp set emp_name=#{empName},age=#{age},sex=#{sex},email=#{email} where emp_id=#{empId}
    </update>
    <delete id="deleteById">
        delete from t_emp where emp_id=#{empId}
    </delete>
</mapper>